html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
}

nav {
    background: #000;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.home {
    height: 90vh;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-size: 48px;
}

.home p {
    font-size: 22px;
    margin-top: 10px;
}

section {
    padding: 60px;
    text-align: center;
}

.box {
    display: inline-block;
    background: #667eea;
    color: white;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 25px;
    transition:0.3s;
    cursor:pointer;
}
.box:hover{
    background:#764ba2;
    transform:scale(1.1);
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}
    
footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 10px;
}
#typing{
    font-size:22px;
    margin-top:10px;
    font-weight:500;
}
